/* Provided by Aleph @tag:sprint-4v.0.4.5 @date:28 May 2020 */
@font-face {
  font-family: 'dotsfont';
  src: url('../fonts/dotsfont.eot');
  src: url('../fonts/dotsfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/dotsfont.woff') format('woff'),
       url('../fonts/dotsfont.ttf') format('truetype'),
       url('../fonts/dotsfont.svg#dotsfontregular') format('svg');
}

[conceal]:not(:active):not(:focus) {
  font-family: 'dotsfont';
}
